<div  class="bs4-selectbox-container" ng-class="{'open' : defaultOpen, 'show' : defaultOpen}"
  id="bs4-selectbox-{{ uuid }}-container">
  
  <span class="dropdown-toggle form-control d-flex align-items-center bs4-selectbox-toggle"
     role="button" id="bs4-selectbox-{{ uuid }}" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="{{defaultOpen}}"
     tabindex="0">


    <span class="bs4-choices flex-grow-1" ng-if="multiple">
      <span class="bs4-badge badge badge-dark p-2 mr-2 d-inline-flex align-items-center justify-content-start text-left"
          ng-repeat="item in items">
        <span ng-transclude></span>
        <span class="badge-close" ng-click="deselect(item);">✕</span>
      </span>
    </span>

    <span ng-if="!multiple" class="mr-2 bs4-badge bs4-single-container flex-grow-1 flex-shrink-1">
      <span ng-if="model" ng-transclude></span>
    </span>
  </span>
  

  <div class="dropdown-menu w-100"  ng-class="{'show': defaultOpen}"
    id="bs4-selectbox-{{ uuid }}-menu"
    aria-labelledby="bs4-selectbox-{{ uuid }}">

    <div class="d-flex dropdown-item">
      <input type="text" class="bs4-select-input form-control flex-grow-1"
        id="bs4-selectbox-{{ uuid }}-input"
        placeholder="{{ placeholder }}"
        ng-model="searchTerms"
        ng-change="change($event);"
        ng-keydown="keydown($event);" />
        <button ng-if="model" class="btn" ng-click="clear()"><i class="fa fa-close"></i></button>
    </div>
    
    <a href="" class="dropdown-item"
      ng-repeat="item in _options | filter:available"
      ng-click="select($event, item);"
      ng-keydown="itemkeydown($event, $index);"
      ng-transclude>
    </a>
  </div>
</div>